<script type="text/javascript">
function lazy_load_img(){
  var lazyImg = $('.lazy');

  lazyImg.each(function(){
    var _this = $(this);
    var url = _this.attr('data-original');

    $('<img />').one('load',function(){
      if(_this.is('img')){
        _this.attr('src',url);
      }else{
        _this.css('background-image','url('+url+')');
            }
            setTimeout(function(){
              _this.css('opacity','1');
            },15);
            }).one('error',function(){
          _this.css('opacity','1');
        }).attr('src',url);
        });
}

var page = 1,pagesize = <%= pagesize %>,load = 1,cate = 0,sort = <%= sort_type || 0 %>;

function get_product_list(){
  if(!load){
    return;
  }
  $.ajax({
    url: '<%= path %>',
    type: 'GET',
    dataType: 'json',
    data:{
      'sort_type': sort,
      'pinyin': '<%= pinyin || '' %>',
      'keyword': '<%= keyword || ''%>',
      'page':page,
      'pagesize':pagesize
    },
    beforeSend:function(){
      load = 0;
      $('txt-loading').html('努力加载中...');
    },
    success:function(data){
      if(data.status == 1){
        create_coupon_list(data.data.coupon_list);
        if(data.data.coupon_list.length >= pagesize){
          page ++;
          load = 1;
          $('.txt-loading').html('查看更多优惠券');
        }else{
          $('.txt-loading').html('没有更多了');
        }
      }
    }
  });
}
function create_coupon_list(clist){
  if($("#couponList1").length > 0){
    var htmlstr = '';
    for(var i=0,len=clist.length;i<len;i++){
      var zk = clist[i];
      var rd = 0;
      var platform = '',platformstr = '';
      switch (zk.platform_id*1){
        case 1:
          platform = '淘宝';
          platformstr = 'taobao';
          break;
        case 2:
          platform = '天猫';
          platformstr = 'tmall';
          break;
      }
      htmlstr += '<a href="/youhui/'+ zk.coupon_id +'/" target="_blank">';
      htmlstr += '<div class="coupon-card-v2">';
      htmlstr += '<div class="pic-area lazy new" data-original="'+ zk.thumbnail_pic +'"></div>';
      htmlstr += '<div class="info-area">';
      htmlstr += '<div class="info-top">';
      htmlstr += '<p class="title">'+zk.title+'</p>';
      htmlstr += '<p class="stat">';
      if(zk.post_free){
        htmlstr += '<span class="platform '+platformstr+'"></span>';
      }
      htmlstr += '原价&nbsp;&yen;'+zk.raw_price+'</p>';
      htmlstr += '</div>';
      htmlstr += '<div class="info-bottom">';
      htmlstr += '<div class="price-area">';
      htmlstr += '<span class="qhj">券后价</span>';
      htmlstr += '<span class="yen">&nbsp;&nbsp;</span><span class="price number-font">'+ zk.coupon_price +'</span>';
      htmlstr += '<span class="quan-btn"><em class="number-font">'+zk.gap_price+'</em>元券</span>';
      htmlstr += '</div>';
      htmlstr += '<div class="progress-area">';
      rd = Math.floor(Math.ceil(Math.random()*9) * 10 + Math.random()*9);
      htmlstr += '<span class="pro-desc">已领'+ rd +'%</span>';
      htmlstr += '<div class="pro-container"><div class="pro" style="width:'+ rd +'%;"></div>';
      htmlstr += '</div>';
      htmlstr += '</div>';
      htmlstr += '</div>';
      htmlstr += '</div>';
      htmlstr += '</div>';
      htmlstr += '</a>';
    }
    $('#couponList1').append(htmlstr);
    lazy_load_img();
  }
  if($("#couponList2").length > 0){
    var htmlstr = '';
    var _w = $('.wrapper').width(),picH = (_w-25)/2;
    for(var i=0,len=clist.length;i<len;i++){
      var zk = clist[i];
      htmlstr += '<a href="/youhui/'+ zk.coupon_id +'/" target="_blank">';
      htmlstr += '<div class="product-item-t2" style="width:'+picH+'px;">';
      htmlstr += '<div class="pic lazy new" data-original="'+ zk.thumbnail_pic +'" style="width: '+picH+'px; height: '+picH+'px;"></div>';
      htmlstr += '<p class="title">';
      if(zk.post_free == 1){
        htmlstr += '<span class="post-free">包邮</span>&nbsp;';
      }
      htmlstr += zk.title+ '</p>';

      rd = Math.floor(Math.ceil(Math.random()*9) * 10 + Math.random()*9);
      htmlstr += '<div class="progress-area">';
      htmlstr += '<p class="pro-text">已领'+ rd +'%</p>';
      htmlstr += '<div class="pro-container">';
      htmlstr += '<div data-pro="'+ rd +'" class="pro" style="width:'+ rd +'%;"></div>';
      htmlstr += '</div>';
      htmlstr += '</div>';

      htmlstr += '<div class="price-area">';
      htmlstr += '<p class="gap-price"><em class="number-font">'+zk.gap_price+'</em>元券</p>';
      htmlstr += '<p class="price">券后价&yen;<em class="number-font">'+ zk.coupon_price +'</em></p>';
      htmlstr += '</div>';
      htmlstr += '</div>';
      htmlstr += '</a>';
    }
    $('#couponList2').append(htmlstr);
    lazy_load_img();
  }
}

$(document).on('scroll',function(){
  var de = document.documentElement;
  var sH = de.scrollHeight,cH = de.clientHeight;
  if(sH - cH - $('body').scrollTop() <= 400){
    get_product_list();
  }
});

$(document).ready(
    function (){
      function sort_li_click(){
        $('.sort-li').removeClass('active');
        $(this).addClass('active');
        $('#couponList1').html('');
        $('#couponList2').html('');
        sort = $(this).data('type');
        page = 0;
        $("html,body").animate({scrollTop:0},0);
        get_product_list();
      }
      function set_shuangpai_item_width(){
        var _w = $('.wrapper').width(),picH = (_w-25)/2;
        if($('#couponList2').length > 0){
          $('.product-item-t2').width(picH);
          $('.pic').height(picH);
        }
      }
      function show_banner(){
        var bannerArea = $('#bannerArea');
        var banner = [{"element_id":4216,"element_type":"webview","title":"暑期大放价 原宿风潮人装限时超值购","subtitle":"","extend":"/zhuanchang/3097/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/21/423795971f0b118a78","pic2":"","pic_width":900,"pic_height":288,"index":163,"is_show_title":0,"dateline":1500912000,"coupon_list":[],"topic_list":[]},{"element_id":4187,"element_type":"webview","title":"烹饪新体验|便捷厨房电器5折起","subtitle":"","extend":"/zhuanchang/2904/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/21/738405971ce520c901","pic2":"","pic_width":900,"pic_height":288,"index":159,"is_show_title":0,"dateline":1500912000,"coupon_list":[],"topic_list":[]},{"element_id":4056,"element_type":"webview","title":"气垫BB演绎肌肤变白记 全场低至9.9元起","subtitle":"","extend":"/zhuanchang/2909/?style=0","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/18/33878596ded6aa994a","pic2":"","pic_width":900,"pic_height":288,"index":159,"is_show_title":0,"dateline":1500825600,"coupon_list":[],"topic_list":[]},{"element_id":4135,"element_type":"webview","title":"让吃货们燥起来的肉食盛宴","subtitle":"","extend":"/zhuanchang/2954/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/20/450225970783401ff2","pic2":"","pic_width":900,"pic_height":288,"index":158,"is_show_title":0,"dateline":1500825600,"coupon_list":[],"topic_list":[]},{"element_id":4105,"element_type":"webview","title":"最chic少女心手机壳","subtitle":"","extend":"/zhuanchang/2589/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/19/13900596f27945a32a","pic2":"","pic_width":900,"pic_height":288,"index":157,"is_show_title":0,"dateline":1500739200,"coupon_list":[],"topic_list":[]}],
        _w = $('.wrapper').width(),picH = (_w-25)/2;

        //banner
        if(bannerArea.length > 0){
          var bannerHtml = '';
          for(var i=0;i<banner.length;i++){
            var b = banner[i];
            if(b.element_type != 'webview'){
              continue;
            }
            bannerHtml += '<a data-back-url="'+b.extend+'" href="'+b.extend+'" class="swiper-slide">';
            bannerHtml += '<img src="'+b.pic+'">';
            bannerHtml += '</a>';
          }
          bannerArea.css('height',(_w*240/750)+'px').html(bannerHtml);
          var sw = new Swiper('.swiper-container',{
            autoplay: banner.length>1?3000:false ,
            loop:true,
            pagination: '.swiper-pager'
          });
        }

      }
      function show_adzone(){
        var fixedBannerArea = $('.fixed-banner-area');
        var fixedBanner = [{"element_id":1149,"element_type":"webview","title":"9块9包邮","subtitle":"","extend":"/9kuai9/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/10/54431596340cc9e59e","pic2":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/10/69798596340ccd117a","pic_width":600,"pic_height":680,"index":10,"is_show_title":1,"dateline":1514736000},{"element_id":1152,"element_type":"webview","title":"爆款热销","subtitle":"","extend":"/baokuan/","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/10/612925963369a70608","pic2":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/10/716655963369ab187b","pic_width":896,"pic_height":300,"index":8,"is_show_title":1,"dateline":1514736000,"coupon_list":[],"topic_list":[]},{"element_id":1150,"element_type":"webview","title":"限时特价","subtitle":"","extend":"http://taobao.iquan.net/index.php?r=p/wap&u=550416","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/07/25754595f070cab06d","pic2":"http://omqxp8we2.bkt.clouddn.com/element/2017/07/07/90010595f070ccea1b","pic_width":470,"pic_height":398,"index":6,"is_show_title":1,"dateline":1514736000,"coupon_list":[],"topic_list":[]},{"element_id":1154,"element_type":"webview","title":"特卖直播","subtitle":"","extend":"http://taobao.iquan.net/index.php?r=ddq/wap","pic":"http://omqxp8we2.bkt.clouddn.com/element/2017/06/26/285115950b3546a100","pic2":"http://omqxp8we2.bkt.clouddn.com/element/2017/06/26/923655950b354a11a7","pic_width":470,"pic_height":399,"index":4,"is_show_title":1,"dateline":1514736000,"coupon_list":[],"topic_list":[]}];

        var _w = $('.wrapper').width(),picH = (_w-25)/2;

        //fixed banner
        if(fixedBannerArea.length > 0) {
          var fixedBannerHtml = '';
          var fb_h = _w * 340 / 750;
          for (var i = 0; i < (fixedBanner.length > 4 ? 4 : fixedBanner.length); i++) {
            var b = fixedBanner[i];
            if (b.element_type != 'webview') {
              continue;
            }
            var s = '';
            switch (i * 1) {
              case 0:
                s = 'width:' + (fb_h * 300 / 340 - 1) + 'px;height:' + fb_h + 'px;border-right:1px solid #eee;'
                  break;
              case 1:
                s = 'width:' + (_w - fb_h * 300 / 340) + 'px;height:' + ((_w - fb_h * 300 / 340) * 170 / 450 - 1) + 'px;border-bottom:1px solid #eee;'
                  break;
              case 2:
                s = 'width:' + ((_w - fb_h * 300 / 340) / 2 - 1) + 'px;height:' + (fb_h - (_w - fb_h * 300 / 340) * 170 / 450) + 'px;border-right:1px solid #eee;'
                  break;
              case 3:
                s = 'width:' + (_w - fb_h * 300 / 340) / 2 + 'px;height:' + (fb_h - (_w - fb_h * 300 / 340) * 170 / 450) + 'px;'
                  break;
            }
            fixedBannerHtml += '<a data-back-url="' + b.extend + '" href="' + b.extend + '" class="fixed-banner-item fbi' + i + '" style="' + s + '">';
            fixedBannerHtml += '<img src="' + b.pic + '">';
            fixedBannerHtml += '</a>';
          }
          fixedBannerArea.css('height', fb_h + 'px').html(fixedBannerHtml);
        }
      }
      show_banner();
      show_adzone();
      set_shuangpai_item_width();
      lazy_load_img();
      $('.sort-li').click(sort_li_click);
    });
</script>
