- progress = (60..98).to_a.sample
- aaid = coupon['url'].match(/activityId=(\w*)/)
- aaid = aaid.nil? ? '' : aaid[1]
- buy_url = "/buy/#{coupon["item_id"]}/?activity_id=#{aaid}"
- seo_k = @seo_k.nil? ? '' : "#{@seo_k}_"
- strong_k = @keyword.nil? ? '' : @keyword
%a{href: "/youhui/#{coupon['coupon_id']}/", title: "#{seo_k}#{coupon['title']}", target: "_blank"}
  .product-item-t2
    .pic.lazy{data: {original: "#{coupon['thumbnail_pic']}"}}
    %p.title
      - if coupon["post_free"] == 1
        %span.post-free 包邮
      #{coupon['title'].gsub(strong_k, "<strong>#{strong_k}</strong>").html_safe}
    .progress-area
      %p.pro-text 已领#{progress}%
      .pro-container
        .pro{data: {pro: "#{progress / 100.0}"}, style: "width:#{progress}%"}
    .price-area
      %p.gap-price
        %em.number-font #{coupon['gap_price']}
        %span> 元券
      .price
        %span> 券后价￥
        %em.number-font #{coupon['coupon_price']}

