- progress = (60..98).to_a.sample
- buy_url = "/buy/#{coupon["num_iid"]}/?activity_id="
%a{href: "#{buy_url}", target: "_blank"}
  .product-item-t2
    .pic.lazy{data: {original: "#{coupon['pict_url']}"}}
    %p.title
      %span.post-free 包邮
      #{coupon["title"]}
    .progress-area
      %p.pro-text 已领#{progress}%
      .pro-container
        .pro{data: {pro: "#{progress / 100.0}"}, style: "width:#{progress}%"}
    .price-area
      %p.gap-price
        %em.number-font X
        %span> 元券
      .price
        %span> 券后价￥
        %em.number-font #{coupon['zk_final_price']}

