- cate_name = @category['name']
- title("#{cate_name}淘宝优惠券_十块购")
- head_desc("淘宝天猫内部隐藏#{cate_name}优惠券,#{cate_name}折扣，20元50元100元，先领券，再下单，专享淘宝折上折优惠。领取#{cate_name}优惠券，查看#{cate_name}打折特价信息 - 爱券网。")
- keywords("#{cate_name},#{cate_name}优惠,#{cate_name}优惠券,#{cate_name}内部优惠券,#{cate_name}折扣,特价#{cate_name}")
- path(@path)
- h1("#{cate_name}淘宝优惠券")

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: true, need_ads: false}
  = render partial: "m_diyquan/page_js", locals: {path: '/getFenleiCouponList', pinyin: @pinyin, keyword: '', pagesize: 40, sort_type: 0}
  = render partial: "m_diyquan/shuangpai_list", locals: {coupons: @coupons}
