- title("【#{@keyword}】_#{@keyword}折扣_优惠券_爱券网")
- head_desc("淘宝天猫内部隐藏#{@keyword}优惠券,#{@keyword}折扣，20元50元100元，先领券，再下单，专享淘宝折上折优惠。领取#{@keyword}优惠券，查看#{@keyword}打折特价信息 - 爱券网。")
- keywords("#{@keyword},#{@keyword}优惠,#{@keyword}优惠券,#{@keyword}折扣,特价#{@keyword}")
- path(@path)
- h1(@keyword)

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: false, need_ads: true}
  = render partial: "m_diyquan/page_js", locals: {path: '/getSearchCouponList', pinyin: '', keyword: '手机壳', pagesize: 20, sort_type: 1}
  = render partial: "m_diyquan/tb_shuangpai_list", locals: {coupons: @coupons}
