- buy_url = "/buy/#{coupon["item_id"]}/?activity_id=#{coupon['url'].match(/activityId=(\w*)/)[1]}"
.zk-content
  .img-area
    %a{href: "#{buy_url}", title: "#{coupon['title']}", target: "_blank"}
      %img{src: "#{coupon['pic']}", alt: "#{coupon['title']}"}
  .info-area
    %h1.title.elli
      - if coupon['post_free'] == 1
        %span 包邮
      #{coupon['title']}
    %p#eventTimeStr.endtime
    %input{id: "endTime", value: "#{coupon['dateline']}", type: "hidden"}
    .platform
      - if coupon['platform_id'] == 2
        %i{style: "background-image: url(http://7xlxny.com1.z0.glb.clouddn.com/zhekou/web/platform_tmall.png);"}
        %span> 天猫
      - else
        %i{style: "background-image: url(http://7xlxny.com1.z0.glb.clouddn.com/zhekou/web/platform_taobao.png);"}
        %span> 淘宝
    .stat
      %p.price-area
        %span.ori-price 现价：￥#{coupon['raw_price']}
        %span.price
          ￥
          %em.int> #{coupon['coupon_price'].to_i}
          %em.decimal> .#{coupon['coupon_price'].to_s.sub(/\d+\./,'')}
          %i 券后价
      .buy-area
        %p.desc 有效期内领券下单，享受立减优惠！
        %a{href: "#{buy_url}", target: "_blank", class: "buy-btn"}
          .line.line-l
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          .line.line-r
            %i
            %i
            %i
            %i
            %i
            %i
            %i
          领券立减
          %em #{coupon['gap_price']}
          元
    .tags
      .tag-list
        - if category
          - category.each do |cate|
            %a{href: "/fenlei/#{cate['pinyin']}/", title: "#{cate['name']}内部优惠券", class: "tag-item"} #{cate['name']}
      .coll
        %i
        按
        %em Ctrl&nbsp;+&nbsp;D
        加入收藏

