- home_anchor = ['粉丝福利购', '天天特价', '今日特价'].sample

%p.bread-area
  %a{href: "/", title: "#{home_anchor}"} #{home_anchor}
  - if cate
    %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
    %a{href: "/zhekou/#{URI.encode(cate)}/", title: "#{cate}折扣优惠券"} #{cate}
  - if sub_cate
    %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
    %a{href: "/zhekou/#{URI.encode(sub_cate)}/", title: "#{sub_cate}折扣优惠券"} #{sub_cate}
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %span #{title}

