- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

= render partial: "diyquan/header_fenlei_zhekou"
= render partial: "diyquan/suggest_keywords", locals: {keywords: @keywords}
.wrapper.search-result
  %p.search-res-title
    "#{@keyword}"搜索结果:&nbsp;&nbsp;
    %a{href: "/lanlan_download/",style: "color:blue"} 下载省钱APP - 搜更多内部优惠券
  = render partial: "diyquan/tb_quan_list", locals: {coupons: @coupons}

:javascript
  $('#li-sort-#{@sort_type}').addClass('active');

= render partial: "diyquan/footer"
