- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- mobile_url(@path)
- h1(@h1)

%p.sno #{@keyword}优惠专场，实时更新#{@keyword}淘宝天猫优惠券折扣特卖信息，全场低至1折起包邮，敬请关注！这些#{@keyword}优惠券，是十块购从全网各处（app、优惠网站、优惠qq群、优惠微信群）搜集而来，先领优惠券，再下单，价格可以更低一点。为了方便您找券，您可以将#{@keyword}优惠信息按照销量、价格、优惠额、优惠率等维度进行排序，也可以直接查找#{@keyword}大额优惠券。
- if @keywords.size > 0
  %p.sno 您可能还在找：#{@keywords.join('，')}，直接点击下面的链接，可以查询对应的优惠折扣信息。
%p.sno
  %a{href: "/zhekou/#{URI.encode(@keyword)}/rexiao/"} 热销#{@keyword}
  %a{href: "/zhekou/#{URI.encode(@keyword)}/tejia/"} 特价#{@keyword}
  %a{href: "/zhekou/#{URI.encode(@keyword)}/dae/"} #{@keyword}大额优惠券
  %a{href: "/zhekou/#{URI.encode(@keyword)}/yizhe/"} 一折#{@keyword}
= render partial: "diyquan/suggest_keywords", locals: {keywords: @keywords}
.wrapper.search-result
  %p.search-res-title "#{@keyword}"搜索结果
  = render partial: "diyquan/quan_filter"
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more_search", locals: {path: '/getSearchCouponList', keyword: @keyword, pinyin: '', sort_type: @sort_type, pagesize: 40, wclass: '.search-result'}

:javascript
  $('#li-sort-#{@sort_type}').addClass('active');

= render partial: "diyquan/footer"
