- home_anchor = ['淘宝优惠券','淘宝内部优惠券','十块购','淘宝券'].sample
%p.bread-area
  %span 淘宝优惠券：
  %a{href: "/", title: "#{home_anchor}"} #{home_anchor}
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %a{href: "/dianpu/", title: "淘宝店铺排行榜"} 淘宝店铺排行榜
  %span &nbsp;&nbsp;#{">"}&nbsp;&nbsp;
  %span #{title}

